<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string>PetEmotions</string>
	<key>CFBundleIdentifier</key>
	<string>com.keak.petemotions</string>
	<key>CFBundleName</key>
	<string>PetEmotions</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSCameraUsageDescription</key>
	<string>PetEmotions needs camera access to capture photos and videos of your pet for emotion analysis.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>PetEmotions needs photo library access to save and manage your pet photos.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>PetEmotions needs microphone access to record videos with sound for better emotion analysis.</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
